h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
a{
    text-decoration: none;
}
ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
body{
    margin: 0;
}
.site{
    width: 1600px;
}
.page-header{
    height: 80px;
    border: 1px solid #ECECEC;
    display: flex;
    align-items: center;
}
.container{
    width: 1600px;
    margin: 0 auto;
    padding: 35px 16px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.web{
    color:rgba(33, 150, 243, 1);
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 31px;
}
.studio{
    color: black;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
}
nav {
    width: 20%;
}
.nav_menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav_2{
    width: 35%;
}
.contacts{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.nav_menu a{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #212121;
}
.contacts a{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #757575;
}
.nav_menu a:hover, .contacts a:hover{
    color: #2196F3;
}
.grey_block{
    width: 1600px;
    max-width: 100%;
    height: 600px;
    background-color: #2F303A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 90px;
}
.grey_block p{
    width: 696px;
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 44px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.grey_block button{
    margin-top: 30px;
    width: 200px;
    height: 50px;
    background-color: #2196F3;
    border: 1px solid #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.grey_block a{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}
.grey_block button:hover{
    width: 210px;
    height: 60px;
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    transition: linear 0.3s;
}
.grey_block button:hover a{
    color: #2196F3;
    font-size: 18px;
    transition: linear .3s;
}
.first_table{
    width: 1600px;
    display: flex;
    justify-content: center;
}
.first_table tr{
    display: flex;
    justify-content: space-around;
}
.first_table td{
    text-align: left;
    width: 250px;
    margin: 0 0 0 30px;
}
.first_table td h4{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}
.first_table td p{
    margin-top: 10px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: #757575;
}
.f_h2{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin: 90px 0 50px;
}

.bb{
    margin-top: 90px;
    background-color: rgba(245, 244, 250, 1);
    padding-top: 90px;
}
.bbs{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    text-align: center;
    margin-bottom: 90px;
}
.ludi{
    display: flex;
    justify-content: center;
}
.che{
    width: 260px;
    background-color: white;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin-bottom: 90px;
}
.che:not(:nth-child(4)){
    margin-right: 30px;
}
.che img{
    width: 260px;
}
.che h4{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin: 30px 0 10px;
}
.che p{
    margin-bottom: 30px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}
footer{
    background: #2F303A;
}
footer{
    padding: 60px 0 60px 215px;
}
footer li:not(:nth-child(1)){
    margin-top: 9px;
}
footer .email{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
footer .tel{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
footer .place{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
footer h2{
    margin-bottom: 20px;
}
.abv{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
    color: #2196F3;
}
.gg123{
    font-family: 'Roboto';
    font-weight:700;
    font-size: 26px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
