<<<<<<< HEAD
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
a{
    text-decoration: none;
}
ul {
  padding-left: 0;
  list-style: none;
  margin: 0;
}
body{
    margin: 0;
    font-family:Roboto ;
}
.page-header{
height: 80px;
border-bottom: 1px solid #ececec;
display: flex;
align-items: center;
}
.conteiner{
    display: flex;
    justify-content: space-around;
   align-items: center;
   width: 100%;
}
.Web{
    color: blue;
    font-size: 26px;
    font-family: 'Raleway';
    font-weight: 700;
}
.studio{
    color: black;
    font-size: 26px;
    font-family: 'Raleway';
    font-weight: 700;
}
.stubia{
    color: #2196F3;
    position: absolute;
    left: 453px;
    top: 32px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
}
.sty{
    position: absolute;
    left: 550px;
    top: 32px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
}
.bia{
    position: absolute;
    left: 650px;
    top: 32px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
}
.red{
    position: absolute;
    left: 1120px;
    top: 32px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
}
.syp{
    color: #2196F3;
    position: absolute;
    left: 970px;
    top: 32px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
}
.box{
    position: absolute;
    width: 1400px;
    height: 600px;
    left: 0px;
    top: 80px;
    background: #2F303A;
}
.effect{position: absolute;
width: 696px;
height: 120px;
left: 452px;
top: 280px;
font-family: 'Roboto';
font-size: 44px;
line-height: 60px;
color: #FFFFFF; } 
.kav{
position: absolute;
width: 366px;
height: 42px;
left: 617px;
top: 969px;
font-weight: 700;
font-size: 36px;
}

.les{
position: absolute;
width: 200px;
height: 50px;
left: 700px;
top: 430px;
background: #2196F3;

}

.img_1{
    position: absolute;
    width: 370px;
    height: 294px;
    left: 215px;
    top: 1061px;
    
}
.img_2{
    position: absolute;
    width: 370px;
    height: 294px;
    left: 615px;
    top: 1061px;
    
}
.img_3{
    position: absolute;
    width: 370px;
    height: 294px;
    left: 1015px;
    top: 1061px;
}
.das{
    position: absolute;
width: 264px;
height: 42px;
left: 668px;
top: 1543px;

}
.img_5{
    position: absolute;
    width: 270px;
    height: 260px;
    left: 215px;
    top: 1635px;
    
}
.img_6{
    position: absolute;
    width: 270px;
    height: 260px;
    left: 515px;
    top: 1635px;
    
}
.img_7{
    position: absolute;
    width: 270px;
    height: 260px;
    left: 815px;
    top: 1635px;
    
}
.img_8{
    position: absolute;
    width: 270px;
    height: 260px;
    left: 1115px;
    top: 1635px;
    
}






.rew{
    position: absolute;
width: 1600px;
height: 252px;
left: 0px;
top: 2097px;

background: #2F303A;
}
=======
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
a{
    text-decoration: none;
}
ul {
  padding-left: 0;
  list-style: none;
  margin: 0;
}
body{
    margin: 0;
}
.page-header{
height: 80px;
border-bottom: 1px solid #ececec;
}
.conteiner{
    display: flex;
    justify-content: space-around;
}
.Web{
    color: blue;
    font-size: 26px;
    font-family: 'Raleway';
    font-weight: 700;
}
.studio{
    color: black;
    font-size: 26px;
    font-family: 'Raleway';
    font-weight: 700;
}
.logo{
    margin: 25px;
}
.stubia{
    color: #2196F3;
    position: absolute;
    left: 453px;
    top: 32px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
}
>>>>>>> 6b85fcb7aef9ce63dd8529a9376e13aacc518ab5
